@import url("https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fauna+One&display=swap");

:root {
  /* pink purple red */
  --secondary-color: #ff8fa3; /* ff8fa3 9D4EDD FF4D6D*/
  --main-color: #ffb3c1; /* ffb3c1 C77DFF FFB3C1*/
  --line-color: #ca8593; /* ca8593 5A189A A4133C*/
  --font-color: #2e2e2e;
  --text-color: #023047;
}

/* Utility */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

.circle-base {
  border-radius: 50%;
}

/* Navigation Start */
nav {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 10vh;
  background-color: var(--main-color);
  display: grid;
  grid-template-columns: 90px 1fr 90px;
  grid-template-areas: "nl main nr";
  border-bottom: 1px solid var(--line-color);
}

.nav-list {
  list-style: none;
}

.nav-list li {
  display: inline-block;
  padding: 0px 80px;
}

.nav-list li a {
  display: inline-block;
  font-family: "Fauna One", serif;
  font-size: 17px;
  text-decoration: none;
  color: var(--font-color);
  height: 6vh;
  display: table-cell;
  vertical-align: middle;
}

.nav-list li a:hover {
  border-bottom: 2px solid white;
}

.logo {
  height: 10vh;
  width: 100px;
  background-image: url(assets/nav-logo.png);
  background-position: center;
  background-size: cover;
}

.nav-left {
  grid-area: nl;
  border-right: 1px solid var(--line-color);
}

.nav-right {
  grid-area: nr;
  border-left: 1px solid var(--line-color);
}

.nav-category {
  grid-area: main;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}
/* Navigation End */

/* Welcome Start */
#empty-space {
  height: 10vh;
}

.welcome {
  height: 110vh;
  background-color: var(--main-color);
  display: grid;
  grid-template-columns: 90px 1fr 90px;
  grid-template-areas: "sl main sr";
  border-bottom: 1px solid var(--line-color);
}

.side-left {
  grid-area: sl;
  border-right: 1px solid var(--line-color);
}

.side-right {
  grid-area: sr;
  border-left: 1px solid var(--line-color);
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background-image {
  width: 500px;
  height: 500px;
  transform: translateY(-80px);
  background-image: url(assets/pexels-photo-237382-removebg.png);
  background-position: center;
  background-size: 750px;
  background-repeat: no-repeat;
  opacity: 0;
  animation: fadeInBackground 4s ease forwards;
}

.title {
  position: absolute;
  transform: translateY(-270px) rotate(-0.03turn);
  font-family: "Fauna One", serif;
  font-size: 125px;
  font-weight: 200;
  color: var(--secondary-color);
}

.subtitle {
  font-family: "Fauna One", serif;
  font-weight: 200;
  color: whitesmoke;
  font-weight: 1000;
  transform: translateY(-50px);
}
/* Welcome End */

.about {
  height: 100vh;
  display: grid;
  grid-template-columns: 90px 1fr 90px;
  grid-template-areas: "sl main sr";
  background-color: var(--main-color);
}

.about-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.profile {
  height: 300px;
  width: 300px;
  background-image: url(assets/rio-futaba.gif);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  outline: 7px solid var(--secondary-color);
}

.quote {
  margin-top: 50px;
  text-align: center;
  padding: 10px;
  font-family: "Fauna One", serif;
  color: whitesmoke;
  font-weight: 700;
  background-color: var(--secondary-color);
}

.information {
  height: 50vh;
  width: 35vw;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
}

.information div {
  font-family: "Fauna One", serif;
  color: var(--text-color);
  width: 560px;
}

.about-me {
  width: 100px;
  height: 50px;
  margin-bottom: 45px;
  font-size: 5rem;
}

.status {
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: 750;
  font-size: 26px;
  color: white !important;
  margin-bottom: 32px;
}

.about-me-text {
  font-size: 24px;
  word-wrap: break-word;
}

.highlight-white {
  color: white;
}

.discord-tag {
  /* color: #FFFF55; */
  color: #aa00aa;
  font-style: italic;
}

@keyframes fadeInBackground {
  from {
    opacity: 0; /* Start with fully transparent */
  }
  to {
    opacity: 1; /* Gradually become fully opaque */
  }
}
